.btn__mod {
    background-color: #fff;
    color: black;
}

.btn__mod:hover {
    background-color: #ddddddd3;
    color: white;
}

.btn__mod2 {
    background-color: rgb(12, 12, 12);
    color: rgb(244, 239, 239);
}

.btn__mod2:hover {
    background-color: #ddddddd3;
    color: white;
}
